<h2>Registro</h2>
<div>
    <ul>
        
        <li>
            <label>Nombre:</label>
            <input type="text" id="txtNombre" />
        </li>
        <li>
            <label>Apellido:</label>
            <input type="text" id="txtApellido" />
        </li>
        <li>
            <label>RFC:</label>
            <input type="text" id="txtRFC" />
        </li>
        <li>
            <input type="button" id="btnCreate" value="Registrar" />
        </li>
    </ul>
</div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/hab.js"></script>
}
